.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000016;
  }
  .main .left{
    max-width: 46vw;
    margin-left: 16vw;
  }
  .main .left .content .media-icons .fab {
    color: #9700ff;
    border-radius: 3px;
    margin-right: 3vw;
    margin-top: 1vh;
  }
  

  .main .right img{
        width: 500px;
        padding-left: 150px;
       
        
  }
  .main .content{
    max-width: 800px;
  }
  .main .content h2{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
  }
  .main .content h2 span{
    font-size: 2.8em;
    font-weight: 600;
  }
  .text{
    position: relative;
    height: 70px;
    overflow: hidden;
  }
  .text h3{
    color: #4e9eff;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
  }
  .text h3:nth-child(1){
    animation: text-move 10s infinite;
  }
  


































h2.section-title{
    margin-top: 60px;
}
.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .about .content .col-left{
    position: relative;
    width: 45%;
  }
  
  .about .content .col-right{
    position: relative;
    width: 50%;
  }
  
  .about .content .col-left .img-card{
    position: relative;
    width: 58%;
    min-height: 450px;
    margin-left: 16vw;
    margin-top:3vh
  }
  
  .about .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 45px;
    width: 55%;
    height: 64%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 18px rgba(27, 86, 176, 0.74);
  }
  
  .about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .about .content .col-right .paragraph-text{
    font-size: 1em;
  }
.skills {
  background-color: #000016;
  padding: 30px 200px;
}
.skills .section-title {
  text-align: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .col-left {
  position: relative;
  width: 46%;
}
.skills .content .col-left .content-title {
  margin-bottom: 20px;
}
.skills .content .col-right {
  position: relative;
  width: 46%;
}
.skills .content .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}
.skills .content .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skills .content .col-right .bar .info span {
  font-size: 18px;
  font-weight: 500;
}
.skills .content .col-right .bar .line {
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}
.skills .content .col-right .bar .line:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}
.skills .content .col-right .bar .html:before {
  width: 95%;
  background: #e45126;
}
.skills .content .col-right .bar .css:before {
  width: 90%;
  background: #0c73b8;
}
.skills .content .col-right .bar .javascript:before {
  width: 80%;
  background: #e3a324;
}
.skills .content .col-right .bar .java:before {
  width: 80%;
  background: #30dd6d;
}
.skills .content .col-right .bar .python:before {
  width: 75%;
  background: #6d7eb8;
}
.section-title {
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}
.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 270px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}
.contact .content .row .card .contact-icon {
  color: #3a6cf4;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}
.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}
.contact .content .row .card .info {
  text-align: center;
}
.contact .content .row .card .info h3 {
  color: #111;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  margin-bottom: 60px;
}
.contact-form h3 {
  color: #111;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}
.contact-form .input-box .send-btn {
  color: #fff;
  background: #3a6cf4;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.contact-form .input-box .send-btn:hover {
  background: #235bf6;
}
